@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Regular.ttf');
}

body {
    background: #1f4c91;
    color:white;
    font-family: 'Roboto';
}

.container{
    margin-left: auto;
    margin-right:auto;
    width:800px;
}

#clock {
    margin-left:auto;
    margin-right:auto;
    margin-left:160px;
}
h1.title{
    margin-top:40%;
    margin-left:20%;
    margin-right:auto;
}

h1.info
{
    margin-left:20%;
    margin-right:auto;
    font-size:1.0em;
}